.contenidoVista{
   width: 200px;
   height: 150px;
   position: fixed;
   bottom: 65px;
   left: 75px;
   border-radius: 12px;
   background-color: gray;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.contenidoVista>.pedidpoRe{
    font-weight: 29px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px white;
}
.contenidoVista>.adicional{
    font-weight: 26px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.contenidoVista>.Precio{
    font-weight: 26px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px white;
}
